[Unit]
Description=MailHog service

[Service]
ExecStart=/usr/local/bin/mailhog \
  -api-bind-addr 0.0.0.0:8025 \
  -ui-bind-addr 0.0.0.0:8025 \
  -smtp-bind-addr 0.0.0.0:1025

[Install]
WantedBy=multi-user.target